<div class="container container--contrast"></div>
<div class="container" role="main">
  <div class="container__wrapper">
    <div class="title">
      <h1 class="contrast">Search for a Github User</h1>
      <h3 class="contrast">This app uses NGRX and Github Api. Enjoy!</h3>
    </div>
  <div class="form__wrapper">
    <app-search-form
    [query]="(query$ | async)"
    (updateSearchQuery)="updateSearch($event)">
    </app-search-form>
  </div>

  <div class="result">
    <app-result-list 
    [query]="(query$ | async)"
    [results]="(results$ | async)"
    [isLoading]="(isLoading$ | async)">
    </app-result-list>

    <div *ngIf="!(isLoading$ | async) && !(isLoaded$ | async)" class="placeholder">
      <h2>Search for a github user...</h2>    
      <img src="../assets/hiker-man-monochrome.svg" width="300" title="Search for user" alt="Search for user">
  </div>
  </div>
</div>
</div>