<div class="container container--contrast"></div>
<div class="container" role="main">
  <div class="container__wrapper">
    <div class="title">
      <h1 class="contrast">Search for a Github User</h1>
      <h3 class="contrast">This app uses NGRX and Github Api. Enjoy!</h3>
    </div>
  <div class="form__wrapper">
    <app-search-form (updateSearchQuery)="updateSearch($event)">
    </app-search-form>
  </div>

  <div class="result">
    <app-result-list></app-result-list>
    <!-- <div *ngIf="!((results$ | async)?.length)">
      <span>No Results</span>
    </div> -->
    <div *ngIf="(isLoading$ | async)">
      <span>Loading</span>
    </div>
    <div *ngIf="(results$ | async)?.length > 0 ">
      <div *ngFor="let item of (results$ | async)">
        <span>{{item.login}}</span>
        <span>{{item.id}}</span>
      </div>
    </div>
  </div>
</div>
</div>