/* You can add global styles to this file, and also import other style files */
@import "./style/variables";
@import "./style/typography";
@import "./style/button";
@import "./style/form";
@import "./style/card";

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: $background-color;
    color: $text-color;
    margin: 0; 
    font-family: $text-font-stack;
}

.container {
    width: 100%;
    padding: 0 1rem;
    .container__wrapper {
        margin-top: 1rem;
        max-width: $max-width;
        margin: 0 auto;
    }
}